body, #game, html {
	height:100%;
	border: 0px;
	margin:0px;
	font-family: 'Roboto Slab', serif;
}
#game {
	max-width:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	vertical-align:bottom;
	position:relative;
}
.giveBorder {
	border-style: dotted;
}
#speech {
	position:absolute;
	bottom:10px;
	width: 100% - 94px;
	left:50px;
	right:50px;
	color: White;
	font-size:28;
	text-shadow:0px 0px 5px black;
	vertical-align:bottom;
}
