body, #game, html {
	height:100%;
	border: 0px;
	margin:0px;
	font-family: 'Roboto Slab', serif;
}
#game {
	max-width:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	vertical-align:bottom;
	position:relative;
}
.giveBorder {
	border-style: solid;
	border-width: 35px 46px 37px 48px;
	-moz-border-image: url(http://www.freestockphotos.biz/pictures/4/4627/border.png) 39 46 36 48 stretch;
	-webkit-border-image: url(http://www.freestockphotos.biz/pictures/4/4627/border.png) 39 46 36 48 stretch;
	-o-border-image: url(http://www.freestockphotos.biz/pictures/4/4627/border.png) 39 46 36 48 stretch;
	border-image: url(http://www.freestockphotos.biz/pictures/4/4627/border.png) 39 46 36 48 stretch;
}
#speech {
	position:absolute;
	bottom:10px;
	width: 100% - 94px;
	left:50px;
	right:50px;
	color: White;
	font-size:28;
	text-shadow:0px 0px 5px black;
	vertical-align:bottom;
}
